<aside class="area-fluid bg-warning p-sticky p-top-0 zi-max row">
  <a class="col btn btn-warning t-align-center f-style-caps" href="/" [ong-active-route]="'active-route'">Shorten</a>
  <a class="col btn btn-warning t-align-center f-style-caps" href="/badges" [ong-active-route]="['active-route']">Badges</a>
  <a class="col btn btn-warning t-align-center f-style-caps" href="/license" [ong-active-route]="['active-route']">License</a>
</aside>

<article class="area mt-4">
  <router-outlet></router-outlet>
</article>
