<h3>Terms of Use of the {{config?.serviceName}} Service</h3>

<h4>1. General Provisions</h4>
<p>1.1. This document “Terms of Use of the {{config?.serviceName}} Service”
  (hereinafter referred to as the “Terms”) is an offer by {{config?.orgName}}  (hereinafter referred to as “Team”)
  to an Internet user (hereinafter referred to as the “User”)
  to conclude an agreement on the use of the Clicker service (hereinafter referred to as the “Service”)
  on the conditions set out below.</p>
<p>1.2. The User's use of the Service is governed by the Agreement.</p>
<p>1.3. The User undertakes to familiarize himself with all Regulatory Documents
  and bears the risk of such non-familiarization.</p>
<p>1.4. Using any functionality of the Service, the User expresses his unconditional
  consent to all the terms of the Agreement and undertakes to comply with them or stop using the Service.</p>

<h4>2. Use of the Service</h4>
<p>2.1. The Service provides the User with a free opportunity to shorten URL links in manual or automated mode.
  To use this functionality, the User must place URL link in the Service,
  then receive an abbreviated version of it.</p>
<p>2.2. A user-hosted URL must not:</p>
<p>a) Contain more than 2048 characters;</p>
<p>b) Be a shortened version of another URL;</p>
<p>c)  Lead to malicious resources,
  as well as to resources that distribute information,
  in violation of the requirements of Russian law.</p>
<p>2.3. The Service is provided to the User for personal non-commercial use.</p>

<h4>3. Liability</h4>

<p>3.1. The Service (including the information obtained through it) is provided by Team "as is".
  Team does not guarantee the compliance of the Service with the goals and expectations of users,
  the uninterrupted and error-free operation of the Service.
  Team is not liable and does not compensate for any damage, direct or indirect,
  caused to the user of the Service or third parties as a result of the use or inability
  to use the Service, as well as a result of the use or inability to use information obtained through the Service.</p>

<p>3.2. The User is solely responsible to third parties for his actions when using the Service,
  and also guarantees that his actions comply with the requirements of the applicable legislation
  and do not violate the rights and legitimate interests of third parties.
  The User independently and at his own expense undertakes to settle all claims of third parties
  related to the User's actions when using the Service, releasing Team, its affiliates,
  employees, partners and/or counterparties from any claims from third parties (including authorized state bodies).</p>

<p>3.3. If the URL link posted by the User in the Service is an object of intellectual property or other rights,
  then for the purposes of the proper provision of the Service,
  the User grants Team the right to use such an object of intellectual or other rights,
  on the terms of a an ordinary (non-exclusive) royalty-free license valid throughout the world
  during the entire term of the exclusive right, sublicensed, with no additional payments and
  reports on use, in any ways stipulated by applicable laws, including but not limited to:
  extraction, search, handling, analysis, reproduction, distribution, processing, technical integration,
  combining, association and/or comparison to any data and/or information owned and/or
  disposable by Team, and other actions not prohibited by the Agreement,
  the Regulatory Documents and/or applicable laws.</p>

<p>3.4. If the URL link posted by the User in the Service contains personal data of the
  User and/or third parties, the User agrees to their processing (in relation to their own personal data),
  and also represents and warrants (in relation to personal data of third parties),
  that User ensured the legitimacy of the processing of such personal data by Team,
  its affiliates in accordance with the requirements of
  Federal Law No. 152-FZ of July 27, 2006 “On Personal Data”, including the existence
  of an appropriate legal basis for the transfer of personal data to Team,
  its affiliates and subsequent processing of personal data by Team,
  its affiliates, as well as proper notification of subjects of such processing to the extent required by law,
  in order to achieve the goals specified in the Team Privacy Policy.</p>

<h4>4. Other provisions</h4>
<p>4.1. To this Agreement and the relationship between Team and the User in connection
  with the use of the Service by the User, the law of the Russian Federation shall apply.</p>

<p>4.2. Team has the right, without notice, at its sole discretion, to terminate or suspend
  the User's access to the Service without explanation, e.g.,
  if such User violates the requirements of this Agreement.</p>

<p>4.3. For questions related to the detection of malicious links shortened using the Service,
  the User can send his appeal to the following email address: {{config?.email}}.</p>

<p>4.4. Team may, at any time without notice to the User,
  change the text of this Agreement and/or any other terms of use of the Service.
  The current text of this Agreement is located at: {{config?.address}}/license.</p>

<br>
<hr>

<h3>Source Code License:</h3>
<p>Copyright (c) 2020-2025, The OSSPkg Team. All rights reserved.</p>
<p>Use of this source code is governed by a GPL-3.0 license that can be found in the
  <a target="_blank" href="https://github.com/arwos/uri-one/blob/master/LICENSE.md">LICENSE</a> file.</p>

<br>
<br>
<br>
